<h1 id="title">Eat-Da-Burger!</h1>

<h2>Burgers that have not been devoured!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li><strong>{{burger_name}}</strong>
    <form class="update-form" action="api/burgers/update" method="POST">
    <button type="submit" class="updateBtn" data-id={{id}}>Devour it!</button>
    </form>
    </li>
    <hr>
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li><strong>{{burger_name}}</strong></li>
    <hr>
    {{/if}}
    {{/each}}
</ul>

<hr />

<h2>Add a Burger</h2>
<form class="create-form" action="api/burgers/create" method="POST">

  <div class="form-group">
    <label for="burgerName">Burger Name:</label>
    <input type="text" id="burgerName" name="burger_name">
  </div>

  <button type="submit" id="createBtn">Add Burger</button>
</form>