<h1>Eat-Da-Burger!</h1>

<h2>Burgers that have not been devoured!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <p>{{burger_name}}</p>
    <hr>
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <p>{{burger_name}}</p>
    <hr>
    {{/if}}
    {{/each}}
</ul>